# Java build files
target/
*.class
*.jar
*.war
*.ear

# Maven specific
.mvn/
**/target/
**/dependency-reduced-pom.xml
**/build.log
**/release.properties

# Eclipse
*.classpath
*.project
*.settings/

# IntelliJ
.idea/
*.iml
*.iws
out/

# OS-specific files
.DS_Store
Thumbs.db

# Spring Boot specific
# Ignore environment config
**/application.properties
**/application.yml
**/application-*.yml
**/application-*.properties
